$toast-border-radius: 2px;
$toast-padding-x: 8px;
$toast-padding-y: 6px;
$primary: #10b1e1;

@import "./../node_modules/bootstrap/scss/functions";
@import "./../node_modules/bootstrap/scss/variables";
@import "./../node_modules/bootstrap/scss/variables-dark";
@import "./../node_modules/bootstrap/scss/maps";
@import "./../node_modules/bootstrap/scss/mixins";

@import "./../node_modules/bootstrap/scss/root";
@import "./../node_modules/bootstrap/scss/reboot";
@import "./../node_modules/bootstrap/scss/type";
@import "./../node_modules/bootstrap/scss/toasts";

@import "./../node_modules/bootstrap/scss/helpers";

html,
body {
  border: none !important;
}

.bab-darken-modal-overlays-enabled {
  .ms-vss-web-vsts-theme,
  .ms-vss-web-vsts-theme-dark {
    .bolt-dialog-callout {
      background-color: color-mix(
        in srgb,
        var(--background-color) 90%,
        transparent 10%
      );
    }
  }
}

.work-item-form-header {
  box-shadow: 0 2px 4px var(--palette-black-alpha-60, rgba(0, 0, 0, 0.6));
}

.workitemcontrol-label,
.link-type-name {
  font-weight: bold;
  opacity: 0.9;
}

.work-item-form-control-wrapper {
  margin-bottom: 12px;
}

html {
  .work-item-form-control,
  .work-item-form-control-content {
    width: calc(100% + 4px);
    margin-left: -2px;
    margin-right: -2px;
  }

  .work-item-form-collapsible-header {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 12px;
  }

  .compact-links-list {
    .link-type-group {
      margin-top: 12px;
    }
    .link-type-name {
      margin-top: 18px;
    }

    .artifact-link-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border: var(--palette-black-alpha-6, rgba(0, 0, 0, 0.06)) 1px solid;
      padding: 4px 8px;
      margin-bottom: 8px;
      border-radius: 4px;
      min-height: 50px;
      align-content: center;

      .artifact-link {
        max-width: 100%;
      }
    }

    .remove-item-button-container {
      background: linear-gradient(
        to right,
        transparent 0%,
        var(--background-color, rgba(255, 255, 255, 1)) 50%,
        var(--background-color, rgba(255, 255, 255, 1)) 100%
      );

      top: 1px !important;
      bottom: 1px !important;
      right: 1px !important;
      border-radius: 4px;
      overflow: hidden;

      .bolt-button {
        background-color: var(--background-color, rgba(255, 255, 255, 1));

        &:hover {
          background-color: color-mix(
            in srgb,
            var(--background-color, rgba(255, 255, 255, 1)) 100%,
            var(--color, rgba(0, 0, 0, 1)) 40%
          );
        }
      }
    }
  }

  .work-item-form-control-wrapper .bolt-button.subtle {
    background-color: var(--palette-black-alpha-2, rgba(0, 0, 0, 0.02));
    border-color: var(--palette-black-alpha-6, rgba(0, 0, 0, 0.06));
  }

  .no-padding.bolt-button {
    padding: 3px 6px !important;
  }

  .bolt-button[bab-better-autosaved] {
    transition: background-color 0.5s ease;
    background-color: var(
      --palette-green-alpha-20,
      rgba(0, 128, 0, 0.2)
    ) !important;
    &:after {
      content: "d ✓";
    }
  }
}

.taskboard-card {
  .title .title-text {
    display: block;
    font-weight: 600;
    margin-top: 8px;
  }
}

.bab-better-card-state.wit-card {
  .work-item-state-circle {
    display: none;
  }

  .work-item-state-name {
    font-weight: bold;
    // color: var(--palette-black-alpha-100);
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: 0.65rem;
  }

  .card-work-item-state {
    padding-left: 4px !important;
    padding-right: 4px !important;
    margin-top: 6px;
    margin-bottom: 8px;
  }
}

.bab-better-parent-link {
  &,
  + div {
    display: inline-block;
    min-height: 2.8em;
    align-content: center;
  }
  .artifact-link {
    &::after {
      content: "\00A0\00A0\00A0/\00A0\00A0\00A0";
    }
  }
}

.work-item-form-header {
  > div + div,
  .work-item-title-textfield,
  .work-item-title-textfield input {
    font-weight: bold;
  }
}

.bab {
  &-no-scroll-bar-on-text-areas-enabled {
    .html-editor.auto-grow .rooster-wrapper,
    .html-editor.auto-grow .rooster-wrapper .rooster-editor {
      max-height: none !important;
    }
  }
}

.bab-info-box {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10000;
  padding: 12px;
  padding-top: 0;

  background: var(--background-color, rgba(255, 255, 255, 1));

  box-shadow: 0 0 6px var(--palette-black-alpha-10, rgba(0, 0, 0, 0.1));
  max-width: 300px;

  &--mini {
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;

    &:after {
      content: "⚙️";
      font-size: 20px;
      line-height: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .bab-info-box__content {
      display: none;
    }
  }
}

html {
  [bab-better-copy-to-clipboard="true"]:where(.wit-card .selectable-text),
  [bab-better-copy-to-clipboard-parent] [bab-better-copy-to-clipboard="true"] {
    position: relative;
    cursor: pointer !important;
    z-index: 10000;

    &:hover:after {
      content: "📎";
      display: block;
      position: absolute;
      right: 0;
      transform: translate(115%, -50%);
      background-color: var(--background-color, rgba(255, 255, 255, 1));
      padding: 4px;
      line-height: 1;
      border-radius: 4px;
      top: 50%;
      box-shadow: 0 0 4px 0 var(--palette-black-alpha-60, rgba(0, 0, 0, 0.6));
    }
  }
}

.bab-toast-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000001;
}
