.ms-vss-web-vsts-theme,
.ms-vss-web-vsts-theme-dark {
  .bolt-callout {
    background-color: color-mix(
      in srgb,
      var(--background-color) 90%,
      transparent 10%
    );
  }
}

.work-item-form-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.workitemcontrol-label,
.link-type-name {
  font-weight: bold;
  opacity: 0.9;
}

.work-item-form-control-wrapper {
  margin-bottom: 12px;
}

html {
  .work-item-form-control,
  .work-item-form-control-content {
    width: calc(100% + 4px);
    margin-left: -2px;
    margin-right: -2px;
  }

  .work-item-form-collapsible-header {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 12px;
  }

  .compact-links-list {
    .link-type-group {
      margin-top: 12px;
    }
    .link-type-name {
      margin-top: 18px;
    }

    .artifact-link-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border: var(--palette-black-alpha-6, rgba(0, 0, 0, 0.06)) 1px solid;
      padding: 4px;
      margin-bottom: 8px;
      border-radius: 4px;
      min-height: 50px;

      .artifact-link {
        max-width: 100%;
      }
    }

    .remove-item-button-container {
      background: linear-gradient(
        to right,
        transparent 0%,
        var(--background-color, rgba(255, 255, 255, 1)) 50%,
        var(--background-color, rgba(255, 255, 255, 1)) 100%
      );

      top: 1px !important;
      bottom: 1px !important;
      right: 1px !important;
      border-radius: 4px;
      overflow: hidden;

      .bolt-button {
        background-color: var(--background-color, rgba(255, 255, 255, 1));

        &:hover {
          background-color: color-mix(
            in srgb,
            var(--background-color, rgba(255, 255, 255, 1)) 100%,
            var(--color, rgba(0, 0, 0, 1)) 40%
          );
        }
      }
    }
  }

  .bolt-button.subtle {
    background-color: var(--palette-black-alpha-2, rgba(0, 0, 0, 0.02));
    border-color: var(--palette-black-alpha-6, rgba(0, 0, 0, 0.06));
  }

  .no-padding.bolt-button {
    padding: 3px 6px !important;
  }
}

.taskboard-card {
  .title .title-text {
    display: block;
    font-weight: 600;
    margin-top: 8px;
  }
}

.better-card-state.wit-card {
  .work-item-state-circle {
    display: none;
  }

  .work-item-state-name {
    font-weight: bold;
    // color: var(--palette-black-alpha-100);
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: 0.65rem;
  }

  .card-work-item-state {
    padding-left: 4px !important;
    padding-right: 4px !important;
    margin-top: 6px;
    margin-bottom: 8px;
  }
}
