.ms-vss-web-vsts-theme,
.ms-vss-web-vsts-theme-dark {
  .bolt-callout {
    background-color: color-mix(
      in srgb,
      var(--background-color) 90%,
      transparent 10%
    );
  }
}

.work-item-form-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.workitemcontrol-label,
.link-type-name {
  font-weight: bold;
  opacity: 0.9;
}

.work-item-form-control-wrapper {
  margin-bottom: 12px;
}

html {
  .work-item-form-control,
  .work-item-form-control-content {
    width: calc(100% + 4px);
    margin-left: -2px;
    margin-right: -2px;
  }

  .work-item-form-collapsible-header {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 12px;
  }

  .compact-links-list {
    .link-type-group {
      margin-top: 12px;
    }
    .link-type-name {
      margin-top: 18px;
    }

    .removable-item-container {
      margin-bottom: 8px;
    }
  }

  .bolt-button.subtle {
    background-color: var(--palette-black-alpha-2, rgba(0, 0, 0, 0.02));
    border-color: var(--palette-black-alpha-6, rgba(0, 0, 0, 0.06));
  }

  .no-padding.bolt-button {
    padding: 3px 6px !important;
  }
}
