name: Test

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Publish webextension
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 20
      - uses: vimtor/action-zip@v1.2
        with:
          files: src/**
          recursive: false
          dest: result.zip
      - name: Upload & release
        uses: mnao305/chrome-extension-upload@v5.0.0
        with:
          file-path: ${{ github.workspace }}/result.zip
          extension-id: ecaemhhchglhijbcodpjfcjmccfhbkhh
          client-id: ${{ secrets.CLIENT_ID }}
          client-secret: ${{ secrets.CLIENT_SECRET }}
          refresh-token: ${{ secrets.REFRESH_TOKEN }}
          publish-target: trustedTesters
