name: Publish Chrome Extension

on:
  release:
    types: [published]
  workflow_dispatch: 

jobs:
  build:
    name: Publish webextension
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 20
      - name: Install dependencies
        run: npm install
      - name: Build project
        run: npm run build
        env:
          BUILD_MODE: production
      - name: Compress Directory
        id: compress
        uses: somaz94/compress-decompress@v1
        with:
          command: compress
          source: "dist/**"
          format: zip
          dest: "./output"
          destfilename: "result"
      - name: Upload & release
        uses: mnao305/chrome-extension-upload@v5.0.0
        with:
          file-path: ./output/result.zip
          extension-id: ecaemhhchglhijbcodpjfcjmccfhbkhh
          client-id: ${{ secrets.CLIENT_ID }}
          client-secret: ${{ secrets.CLIENT_SECRET }}
          refresh-token: ${{ secrets.REFRESH_TOKEN }}
